<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.Deltadkt"
            android:usesCleartextTraffic="false"
            tools:targetApi="31">
        <!-- TODO - Exported = true for testing cases. Will be disabled in final product -->
        <activity
                android:name=".activities.PropertyListActivity"
                android:screenOrientation="landscape"
                android:permission=""
                android:exported="true" />
        <activity
                android:name=".activities.MainMenuActivity"
                android:screenOrientation="portrait"
                android:exported="false" />
        <activity
                android:name=".activities.LobbyViewActivity"
                android:screenOrientation="portrait"
                android:exported="false" />
        <activity
                android:name=".activities.GameViewActivity"
                android:screenOrientation="landscape"
                android:permission=""
                android:exported="true" />
        <activity
                android:name=".activities.MainActivity"
                android:screenOrientation="portrait"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>